@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@500&family=Chivo:wght@900&family=Dongle&family=Inter&family=Lato:wght@700&family=Montserrat:wght@100;500&family=Noto+Sans:ital@0;1&family=Open+Sans&family=Oswald:wght@300&family=Poppins&family=Prompt:wght@200&family=Roboto+Condensed&family=Roboto:wght@400;700&family=Source+Sans+Pro&family=Spline+Sans:wght@500&display=swap");

:root {
  --primary-color: #fff;
  /* --highlight-color: #94849b; */
  --highlight-color: #a493ac;
  /* --highlight-color: #4fd1c5; */
  --secondary-color: #747572;

  --background-color: #1a202c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
  font-size: 100%;
  /* font-family: "Roboto", sans-serif; */

  font-family: "Open Sans", sans-serif;
}
ol,
ul {
  list-style: none;
}

/* -------------Navigation-------- */

.docx-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 90%;
  border-bottom: 1px solid var(--highlight-color);
}
.brand-name {
  display: inline-block;
}
.brand-logo {
  font-size: 1.8rem;
  color: #9681a0;
}
.version-sm {
  font-size: 0.8rem;
  color: rgb(90, 90, 90);
}
.nav-icons {
  font-size: 1.3rem;
}
.icon {
  padding: 0rem 0.5rem;
  color: var(--secondary-color);
}

/* main  */
.docx-layout {
  display: flex;
}

/* ---------------sidebar------------------ */

.docx-sidebar {
  padding: 2rem 4rem;
  padding-left: 4.5rem;
}

.list-topic {
  font-weight: 500;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(209, 206, 206);
}
.list-subtopic li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.list-subtopic li i {
  color: var(--highlight-color);
  font-size: 0.8rem;
}
.list-subtopic li a {
  color: var(--secondary-color);
}

/*-------------------- main components documentation--------------------- */

.docx-components {
  padding: 1rem;
  padding-left: 2rem;
}
.section {
  position: relative;
  padding: 1rem 6rem 5rem 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-right: 4rem;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px var(--highlight-color);
}
.component-title {
  position: absolute;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  background-color: white;

  top: -3%;
  left: 5%;
  z-index: 0;
}

.component-subhead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.component-detail {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*-----------------------color pallet--------------------------- */

.palette {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.palette > div {
  width: 120px;
  height: 120px;
  color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.default {
  background-color: #f3f3f5;
  color: black !important;
}
.primary {
  background-color: #6366f1;
}
.secondary {
  background-color: var(--secondary-color);
}
.error {
  background-color: #f44336;
}
.success {
  background-color: #4caf50;
}
.warning {
  background-color: #ff9800;
}
