.txt-sm {
  font-size: 0.8rem;
  line-height: 1rem;
}
.txt-md {
  font-size: 1.6rem;
  line-height: 2rem;
}
.txt-lg {
  font-size: 2rem;
  line-height: 2.5rem;
}
.txt-xl {
  font-size: 3rem;
  line-height: 3rem;
}
.txt-start {
  text-align: start;
}
.txt-center {
  text-align: center;
}
.txt-end {
  text-align: end;
}
